<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  executionOrder="random"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  failOnWarning="true"
  failOnRisky="true"
>
  <testsuites>
    <testsuite name="PicAuthBundle Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <coverage>
    <report>
      <html outputDirectory="build/coverage-html" />
      <text outputFile="php://stdout" />
    </report>
  </coverage>

  <logging>
    <junit outputFile="build/junit.xml" />
  </logging>

  <php>
    <ini name="error_reporting" value="-1" />
    <ini name="display_errors" value="1" />
    <server name="APP_ENV" value="test" />
  </php>
</phpunit>